
.contenido{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    width: 100% ;
    height: 90% ;
    /* margin-top: -8%; */
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #6f6f6f;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

#features {
  background: #fff
}

#features .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  z-index: 1
}

#features .content-left span {
  float: right
}

#features .content-left .text {
  text-align: right
}

#features .content-right span {
  float: left
}

#features .box-item {
  box-shadow: 0 0 12px #f4f4f4;
  padding: 15px;
  line-height: 22px;
  margin-top: 30px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -mox-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  top: 0
}

#features .box-item .icon {
  text-align: center;
  margin: 12px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

#features .box-item .icon i {
  color: #008de2;
  font-size: 30px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

#features .box-item .text h4 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

#features .box-item .text p {
  font-size: 15px;
  line-height: 26px
}

#features .box-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, .1)
}

#features .box-item:hover h4 {
  color: #008de2
}


#features .show-box img {
  margin-top: -20px;
  width: 90%
}


@media screen and (max-width: 900px) {
  .contenido {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
  }
}